
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }
    60% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    60% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate1 {
    0%
        {transform: rotate(0deg) translate3d(0, 0, 0)}
    25%
        {transform: rotate(3deg) translate3d(0, 0, 0)}
    50%
        {transform: rotate(-3deg) translate3d(0, 0, 0)}
    75%
        {transform: rotate(1deg) translate3d(0, 0, 0)}
    100%
       { transform: rotate(0deg) translate3d(0, 0, 0)}
}


@keyframes storm {
    0%
        {transform: translate3d( 0, 0, 0) translateZ(0)}
    25%
        {transform: translate3d( 4px, 0, 0) translateZ(0)}
    50%
        {transform: translate3d( -3px, 0, 0) translateZ(0)}
    75%
        {transform: translate3d( 2px, 0, 0) translateZ(0)}
    100%
        {transform: translate3d( 0, 0, 0) translateZ(0)}

}
/* html, body */
body {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.7;
    letter-spacing: 0.1rem;
}




/* home section */
#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, black);
    background-size: 500% 500%;
    animation: gradient 15s cubic-bezier(0.260, 0.030, 0.525, 0.980) infinite;
}

section:not(:first-child) {
    padding-bottom: 50px;
}

.container {
    margin: 0 auto;
    width: 80%;
}
div {
    text-decoration: none;
    color: black;
    font-size: large;
}

.btn.project{
    position: relative;
    top:0;
    text-decoration: none;
    color: black;
    font-size: large;
    background: white;
    border-radius: 30px;
    padding: 15px 20px;
    text-transform: uppercase;
    box-shadow: 2px 6px cadetblue;
    transition: all linear 0.3s;
    opacity: 1;
    animation: slideIn ease-out 1s;
    margin-bottom: 5rem;
}

.btn.project:hover {
    box-shadow: 2px 3px cadetblue ;
    top: 3px;
    color: white;
    transition: all linear 0.5s;
    opacity: 0.9;
    background-color: black;
}

.btn.project i {
    transition: transform ease-in-out 0.5s;
    margin-left: 5px;
}
.btn.project:hover i {
    transform: rotate(90deg);
    transition: transform ease-in-out 0.5s;
}
.btn.project:active {
    box-shadow: 2px 0px cadetblue;
    top: 6px;
    transition: all linear 0.3s;
}

.highlight {
    text-shadow: 6px 8px 10px rgba(0,0,0,0.6);
    transition: all linear 0.5s;
    color: #fff;
    font-size: 6rem;
}


.highlight:hover {
    transition: all linear 0.5s;
    text-shadow: 6px 8px 10px rgba(0,0,0,0.6);
    animation: rotate1 linear 1s;
}

h2 {
    font-size: 3rem;
    text-shadow: 1px 1px  rgb(104, 101, 101), 
                2px 2px  rgb(104, 101, 101);
    animation: slideInRight ease-out 2s;
}

h2 {
    transition: all ease 1s;
}
h2:hover {
    transform: scale(0.9);
    text-shadow: 1px 1px 5px rgb(104, 101, 101), 
                2px 2px 5px rgb(104, 101, 101), 
                3px 3px 5px rgb(104, 101, 101);
                transition: all ease 1s;
}

.logo {
    height: 120px;
    margin-left: 10px;
    animation: slideInLeft ease-out 2s;

}


.logo:hover {
    transform: rotate(360deg);
    transition: all cubic-bezier(0.535, -0.290, 0.355, 1.635) 1.5s;
}

#logo-image {
    width: 100%;
    align-self: flex-start;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project:hover, .page-link:hover {
    cursor: pointer;
}




 /* navBar */



.link-wrap {
    display: flex;
    flex-direction: row;
}

nav i.fas.fa-bars {
    display: none;
}


 nav{
     padding: 1vw  2vw;
     display: flex;
     align-self: flex-start;
     animation: slideIn ease-out 1s;
    }
.link-wrap .page-link{
    color: white;
    font-size: 1.4rem;
    text-shadow: 1px 3px 7px black;
    padding: 0 0.6vw;
}


.link-wrap .page-link:active i{
    position: relative;
    top: 2px;
    transition: top 0.3s ease-in-out 0.3s;
}

.link-wrap .page-link i {
    transition: all ease-in-out 0.5s;
    opacity: 0.7;

}

.link-wrap .page-link:hover i{
    transform: scale(1.1) rotate(3deg);
    opacity: 1;
    color: wheat;
    transition: all cubic-bezier(0.535, -0.290, 0.355, 1.635) 0.5s;
}

i {
    transition: all cubic-bezier(0.535, -0.290, 0.355, 1.635) 1s; 
}

.link-wrap .active i{
    position: relative;
    opacity: 1;
    transform: scale(1.1);
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(3, 1, 12);
    transition: all linear 0.5s;
}


.fixed {
    position: fixed;
    transition: all ease-in-out 1s;
    right: 0vw;
    bottom: inherit;
    top: 0;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background: linear-gradient(45deg,rgb(121, 245, 218),rgba(11, 159, 204,0.4),rgba(199, 219, 247,0.8));
    opacity: 0.8;
    border-bottom: 1px rgba(11, 159, 204,0.8) solid;
    animation: slideIn 1s;
    z-index: 10;
}
@keyframes slideIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    70% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
        opacity: 0.8;
    }
}

.slideOut {
    animation: slideOut linear 1s;
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    30% {
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-50px);
        opacity: 0;
    }
}

/* About */
hr {
    visibility: visible;
    margin: 0 auto;
    width: 30%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    animation: slideInLeft ease-out 1s;
}
.subtitle {
    animation: slideInRight ease-out 1s;
    letter-spacing: 1.4px;
}

.subtitle h3 {
    letter-spacing: 1.4px;
    text-transform: uppercase;
    text-shadow: 3px 4px 10px gray;
    font-size: 25px;
    font-weight: 500;
}

.mission {
    animation: slideIn ease-in-out 2s;
}
h4 {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 2px;
    display: inline-block;
    background: linear-gradient(to right, #64495E, #4C5F9A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h5 {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.5rem;
    background: linear-gradient(-45deg, rgba(208, 163, 245, 0.53), rgba(117, 19, 93,0.9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h6 {
    font-weight: 400;
    font-size: 1.2rem;
}
.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.skillImg {
    display: flex;
    flex-direction: column;
    opacity: 1;
    height: 10rem;
    margin: 0 auto;
}

#html5:hover {
    animation: bounce-ver linear 1.5s infinite;
}
@keyframes bounce-ver {
   0%, 30%, 50%, 70%, 100%{transform: translateY(0) scale(1);} 
   40% {transform: translateY(7px) scale(1.1);} 
   60% {transform: translateY(-15px) scale(0.9);} 
} 
@keyframes bounce-hor {
   0%, 30%, 80%, 100% {transform: translateX(0) scale(1);}
   50%, 60%, 70% {transform: translateX(15px) scale(0.9);}
   55%, 65% {transform: translateX(-15px) scale(0.9);}
} 
#javascript:hover {
    animation: rubberBand linear 1s;
}
@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

#css3:hover {
    animation: bounce-hor linear 1.5s infinite;
}

#react:hover {
    animation: rotate linear 5s infinite;
}


@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

#nodejs:hover {
    animation: tada linear 1.5s infinite;
}



/* Portfolio */
#portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 0;
}
.projects {
    transition: all linear 1s;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 25%;
    bottom: 0;
    border-radius: 10px;
    position: relative;
    margin: 20px 5px;
}
.projects:hover {
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.4);
    bottom: 15px;
    transition: bottom cubic-bezier(0.535, -0.290, 0.355, 1.635) 1s;
}
.project-header {
    color: white;
    padding-right: 10px;
}
.project-up {
    height: 15rem;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.project-up-job {
    background: url('../img/jobboard.jpg');
    background-size: cover;
}
.project-up-musical {
    background: url('../img/musical.jpg');
    background-size: cover;
}

.project-up-camp {
    background: url('../img/camp.jpg');
    background-size: cover;
}

.projects:hover .project-front {
        opacity: 0;
        transition: all ease-in-out 0.7s;
}
a{
    color: white;
    font-size: 1rem;
}
.overlay {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right bottom, #838383, #2e2e2e);;
    transition: all ease-in-out 0.7s;
    position: absolute;
    top: 0;
    border-radius: 10px;
}

.overlay-job {
    background: linear-gradient(to right bottom, #838383, #2e2e2e);;
    transition: all ease-in-out 0.7s;
}
.overlay-musical {
    background: linear-gradient(to right bottom, #22c1c3, #b06ab3);;
    transition: all ease-in-out 0.7s;
}

.overlay-camp {
    background: linear-gradient(to right bottom,#302b63, #3b013d);;
    transition: all ease-in-out 0.7s;
}
.overlay h3 {
    color: white;
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    padding: 20px 30px;
}
.btn {
    text-decoration: none;
}
.project-link {
    animation: slideIn ease-in-out 1s 1s;
    display: flex;
    justify-content: space-around;
}
.project-link .project-github {
    border: 2px solid rgba(5, 91, 238, 0.3);
    position: relative;
    border-radius: 50px;
    bottom: 0;
        padding:5px 10px;
    transition: all ease-in-out 0.7s, bottom linear 0.2s;
}
.project-link .project-github:hover {
    background-color: rgba(5, 91, 238, 0.3);
    transition: all ease-in-out 0.8s, bottom linear 0.3s;
    bottom: 3px;
    box-shadow: 1px 1px black;
}
.project-link .website {
    border-radius: 50px;
    position: relative;
    padding:5px 10px;
    bottom: 0;
    border: 2px solid rgba(5, 172, 238, 0.3);
    transition: all linear 0.7s, bottom linear 0.2s;

}
.project-link .website:hover {
    background-color: rgba(5, 172, 238, 0.3);
    transition: all linear 0.7s, bottom linear 0.3s;
    bottom: 3px;
    box-shadow: 1px 1px black;
}


.project-link .website:hover .fa-angle-up {
    transform: rotate(90deg);
    transition: all linear 0.3s;
}
.projects:hover .overlay {
    opacity: 1;
    visibility: visible;
    transition: all ease-in-out 0.7s;
}

ul {
    list-style: none;
    padding: 0 5rem;
}
li:not(:last-child) {
    border-bottom: 2px solid rgb(209, 204, 204);
}
a:hover .fa-github {
    animation: rubberBand ease-in-out 1s;
}



/* Contact  */

#contact {
    background: rgb(37, 37, 37);
    padding: 60px 10px;
}
#contactheader{
    color: wheat;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#submit-button {
    background: rgb(37, 37, 37);
    width: 10%;
    margin-top: 5px;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    transition: all linear 0.4s;
}
#submit-button:hover {
    background: #0af2fa;
    transition: all linear 0.7s;
}
.inputs, .message {
    background: #1e242c;
    font-size: 14px;
    border:none;
    outline: none;
    padding: 8px;
    margin-bottom: 5px;

    width: 40%;
}
.inputs {
    height: 3rem;
}
.message {
    padding: 15px 8px;

    height: 8rem;
}
#social-media a {
    text-decoration: none;
    color: black;
}

#social-media a:hover {
    color: teal;
    animation: jello linear 1s;
}
#social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.social {
    font-size: 40px;
}

.social-span {
        margin: 20px;
        display: flex;
        flex-direction: column;
}

/* responsive design */
html {
    font-size: 12px;
}
@media screen and (max-width: 800px) {
    .link-wrap .page-link i {
        font-size: 14px;
    }
    }

.background-color {
    background: linear-gradient(-45deg, rgba(255, 192, 203,1), rgba(239, 245, 212,0.4));
    animation: slideInRight ease-in-out 1s 1;
    opacity: 0.9;
    transition: all linear 1s;
}
@media screen and (max-width: 600px) {

    nav {
        display: flex;
        position: fixed;
        flex-direction: column;
        right: 0;
        top: 0;
        font-size: 30px;
        padding: 0;
        opacity: 0.9;
        border-radius: 10px;
        padding: 10px;
        z-index: 5;
        justify-content: space-between;
    }
    nav i.fas.fa-bars {
        display: inline;
        order: -1;
        padding: 6vw 2vw 1vw 0;
        align-self: flex-end;
        color: pink;
    }
   nav i.fas.fa-bars.barColorChange {
       color: black;
       padding: 2vw 2vw 1vw 0;
   }
    nav .visible {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        visibility: visible;
        animation: slideInRight ease-in-out 1s 1;
    }
    .link-wrap {
        animation: slideOut ease-in-out 1s 1;
        transition: all linear 1s;
    }
    nav {
        animation: slideInRight ease-in-out 1s 1;
        transition: background-color linear 1s;
    }
    .link-wrap {
        display: inline;
        visibility: hidden;
        transition: visibility linear 0.47s;
    }
    .logo {
        height: 80px;
        display: inline-block;
        position: absolute;
        top: 3vh;
    }
    #home {
        justify-content: space-around;
    }
    .highlight {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.6rem;
    }
    .skills {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
    }
    .skillImg {
        height: 6rem;
    }


    #portfolio {
        flex-direction: column;
    }
    .projects {
        width: 90%;
    }

    .inputs, .message {
    font-size: 14px;
    padding: 8px;
    margin-bottom: 5px;

    width: 80%;
}
#submit-button {
    width: auto;
}

ul {
    padding: 0;
}

}


